
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

body{
  font-family: 'Ropa Sans', sans-serif;
  background-image: url(./assets/img/bg.jpg);
  background-color: #000000;
  background-attachment: fixed, fixed, fixed;
  text-align: center;
}
.logo {
  width: 10rem;
  height: 10rem;
}
.header a {
  color: #fff;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler:focus, .custom-toggler.navbar-toggler:active {
  outline: none !important;
  box-shadow: none;
}
.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
}
.navbar-fixed-top {
  background-color: #000!important;
  color: #fff !important;
}
.navbar-fixed-top.scrolled {
  background-color: #000 !important;
  color: #fff !important;
}
.navbar-collapse .navbar-nav > li {
  padding-right : 1em;
  padding-left: 1em;
  border-right: 1px solid #5c5c5c;
}
.navbar-collapse .navbar-nav > li:nth-last-child(1) {
  border-right: none;
}
.navbar-collapse .navbar-nav > li > a {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}
.coursesHeader {
  color: #FFFFFF;
}
.atolye-modal-img{
  max-width: 300px;
}
.course_icon{
  height: 64px;
  width: 64px;
}
.instructor-rounded{
  height: 128px;
  width: 128px;
}
.footer{
  background-color: #000;
  color: #fff;
}
